<div>Welcome Home  <input type="button" value="logout" class="btn-default" ng-click="logout()" /></div>

<h3>Search Nashville Bars and Restaurants</h3>
<div>
    <input type="button" value="Search Nashville" class="btn-default" ng-click="getMap()" />
</div>

<h3>Search by Neighborhoods</h3>
<div>
    <h4><a href="#">12 South</a></h4>
    <h4><a href="#">8th Ave South</a></h4>
    <h4><a href="#">Berry Hill</a></h4>
    <h4><a href="#">Charlotte Ave</a></h4>
    <h4><a href="#">Downtown</a></h4>
    <h4><a href="#">East Nashville</a></h4>
    <h4><a href="#">Germantown</a></h4>
    <h4><a href="#">Green Hills</a></h4>
    <h4><a href="#">The Gulch</a></h4>
    <h4><a href="#">Hillsboro</a></h4>
    <h4><a href="#">Midtown</a></h4>
    <h4><a href="#">The Nations</a></h4>
    <h4><a href="#">SoBro</a></h4>
    <h4><a href="#">West End</a></h4>
</div>


