<div>Welcome Home  <input type="button" value="logout" class="btn-default" ng-click="logout()" /></div>

<div><a href="#!/itineraryList">MyItineraries</a></div>
<div><a href="#!/destinationList">My Saved Destinations</a></div>

<h3>Search Nashville Bars and Restaurants</h3>
<div>
    <input type="button" value="Search Nashville" class="btn-default" ng-click="getMap()" />
</div>

<h3>Search by Neighborhoods</h3>
<div>
    <h4><a href="#!/12South">12 South</a></h4>
    <h4><a href="#!/8thAveS">8th Ave South</a></h4>
    <h4><a href="#!/berryHill">Berry Hill</a></h4>
    <h4><a href="#!/charlotteAve">Charlotte Ave</a></h4>
    <h4><a href="#!/downtown">Downtown</a></h4>
    <h4><a href="#!/eastNashville">East Nashville</a></h4>
    <h4><a href="#!/germantown">Germantown</a></h4>
    <h4><a href="#!/greenHills">Green Hills</a></h4>
    <h4><a href="#!/gulch">The Gulch</a></h4>
    <h4><a href="#!/Hillsboro">Hillsboro</a></h4>
    <h4><a href="#!/midtown">Midtown</a></h4>
    <h4><a href="#!/nations">The Nations</a></h4>
    <h4><a href="#!/soBro">SoBro</a></h4>
    <h4><a href="#!/westEnd">West End</a></h4>
</div>


