<h3>My Places</h3>
<div ng-repeat="place in response">
    
    <p>{{place.Name}}</p>
    <p>{{place.Address}}</p>
    <p>{{place.Neighborhood}}</p>
    <p>Rating: {{place.Rating}}</p>
    <p>Price Level: {{place.PriceLevel}}</p>
    <input type="button" value="Add to Itinerary" ng-click="addStop(place)" />
    <input type="button" value="Delete" ng-click="deletePlace(place.Id)" />
</div>
<div>
    Name your Itinerary: <input type="text"  ng-model="myItinerary.Name" />
    Select a Date: <input type="date" name="ItineraryDate" ng-model="myItinerary.Date" />
    <h3>{{myItinerary.Name}}</h3>
    <h3 ng-show="!myItinerary.Name">My Itinerary</h3>
    <h4>{{myItinerary.Date}}</h4>
    <h4 ng-show="!myItinerary.Date">Date of Night Out</h4>
    <ol >
        <li ng-repeat="stop in myStops">{{stop.Name}} <button ng-click="removeStop(stop.Id)">Remove</button></li>
        <p ng-show="!myStops.length">Add a Minimum of 3 Stops and a Maximum of 10 Stops</p>
    </ol>
    <input type="button" value="Save Itinerary" ng-click="saveMyItinerary(myStops, myItinerary)" />
    <!--<input type="button" value="Map My Route" ng-click="goToCrawlMap()" />-->
</div>

<input type="button" value="Map My Route" id="submit" ng-click="showMap()"/>



<div ng-show="myRoute">
<h2>Crawl Map</h2>

<div id="map" style="width: 800px; height:800px"></div>

<div id="directions-panel"></div>

</div>