<div class="container startButton">
    <div class="row">
        <div class="col-md-7">
            <h2>Search for Nashville Bars and Restaurants</h2>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        </div>
        <div class="col-md-4, col-md-offset-1" ng-show="placesSearch">
            <h3>Save Places...<br />That You Won't Remember in the Morning</h3>
        </div>
    </div>
</div>


<div id="searchDiv" class="container" >
    <div class="row">
        <div class="col-md-7">
            <div id="map" style="width: 600px; height:600px"></div>
        </div>
        <div class="col-md-4, col-md-offset-1 searchPlacesDiv" ng-show="placesSearch">
            <div class="placeContainer" ng-repeat="place in places">
                <h4>{{place.name}}</h4>
                <p>{{place.formatted_address}}</p>
                <p ng-hide="place.rating == 0 || place.rating == null">Rating: {{place.rating}}</p>
                <p ng-show="place.rating == 0 || place.rating == null">Rating: None</p>
                <p ng-hide="place.price_level == 0 || place.price_level == null">Price Level: {{place.price_level}}</p>
                <p ng-show="place.price_level == 0 || place.price_level == null">Price Level: Unavailable</p>

                <!--<select ng-model="neighborhoodSelect">
                    <option value="General" ng-selected>General</option>
                    <option value="12 South">12 South</option>
                    <option value="8th Ave S">8th Ave S</option>
                    <option value="Berry Hill">Berry Hill</option>
                    <option value="Charlotte Ave">Charlotte Ave</option>
                    <option value="Downtown">Downtown</option>
                    <option value="East Nashville">East Nashville</option>
                    <option value="Germantown">Germantown</option>
                    <option value="Green Hills">Green Hills</option>
                    <option value="The Gulch">The Gulch</option>
                    <option value="Hillsboro">Hillsboro</option>
                    <option value="Midtown">Midtown</option>
                    <option value="The Nations">The Nations</option>
                    <option value="SoBro">SoBro</option>
                    <option value="Sylvan Park">Sylvan Park</option>
                    <option value="West End">West End</option>
                </select>-->
                <input type="button" class="btn-sm btn-success" value="Save" ng-click="addDestination(place);removePlace(place)" />
            </div>
        </div>
    </div>
</div>