body {
   font-family: 'Federo', sans-serif;

}
.navbar-nav {
    float: right;
}

/*Login Page Styling*/

#loginInBackground {
  margin-left: -512px;   /* 50% */
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
   margin: 0;
   padding: 0;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 100%;
  
}

.navbar {
    /*background-color: transparent;
    border-color: transparent;*/
}

#logo {
    color: lightgray;
}

#loginBox, #signBox {
   
    color: lightgray;
    font-family: 'Federo', sans-serif;
    margin-top: 28%;
    text-shadow: 2px 2px 4px #000000;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Federo', sans-serif;
}

#nashTitle {
    font-size: 600%;
    text-shadow: 2px 2px 4px #000000;
}

/*Home Page Styling*/

.itScreenshot {
    width: 95%;
    height: 95%;
}

.stepBorder {
     
}

.logoutBtn {
    margin-top: 1.5%;
}

.startButton {
    margin-top: 5%;
}

.startGuide {
    margin-top: 2%;
}

.searchPlacesDiv{
    height: 700px;
    overflow-y: scroll;
}

#placesTitle{
    float: right;
}

#searchDiv{
    margin-top: 1%;
}

#pac-input {
    width: 70%;
}

#map {
     box-shadow: 4px 4px 2px #888888;
     border: 1px solid black;
}

.placeContainer {
    border-bottom: 2px solid black;
    padding-bottom: 2%;
}

/*Itinerary List Styles*/

#search {
    width: 80%;
    margin-top: 20px;
}

.itDiv {
    margin: 1%;
    
}

#itSearchbar {
    border-bottom: 2px solid black;
    padding-bottom: 1%;
    margin-top: 3%;
}

/*Itinerary detail styles*/

.detailDiv { 
    box-shadow: 4px 4px 2px #888888;
    border: 1px solid black;
    margin-top: 5%;
    padding: 2% 0 2% 0;
}
.detailTitle {
    border-bottom: 2px solid black;
}

.detailPlace{
    margin-bottom: 1%;
}

/*Itinerary Create styles*/

#itCreate {
    margin-top: 20%;
    box-shadow: 4px 4px 2px #888888;
    border: 1px solid black;
    margin-top: 5%;
    padding: 2% 0 2% 0;
}

#itName, #itDate {
    width: 70%;
}

#itNew {
    margin: 10%;
}

.itNewPlaces {
    margin-top: 5%;
}

#itTemplate {

    box-shadow: 4px 4px 2px #888888;
    border: 1px solid black;
    padding: 2% 0 2% 0;
}

.btnPadding {
    margin-top: 2%;
}